html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(127, 178, 133);
  line-height: 1.5;
}

p {
  color: white;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}