body {
  font-family: 'Courier New', Courier, monospace;
}

/* Estilos para el navbar */

.navbar-contenedor {
  background-color: green;
  display: block;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}

.titulo-navbar {
  text-align: left;
  font-size: 35px;
  color: yellow;
}

.navbar {
  font-size: 30px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

li {
  margin: 0 20px;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

a:hover {
  color: red;
}

.icono-carrito {
  display: flex;
  justify-content: flex-end;

}