.header {
    text-align: center;
    
}

.header__logo {
    margin: 30px 0;
    color: rgb(70, 50, 57);
    font-size: 40px;
    text-decoration: none;
   
}

.contendor-nav {
    background-color: rgb(198, 173, 148);
    border-radius: 5px;
  }
  
  .navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: #fff;
  }
  
  .nav-enlaces {
    list-style: none;
    display: flex;
    font-size: 30px;
    font-weight: bold;
  }
  
  .navegacion__enlace {
    margin-right: 20px;
  }
  
 
  @media (max-width: 768px) {
    .navegacion {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .nav-enlaces {
      flex-direction: column;
    }
  
    .navegacion__enlace {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  
  
  .menu-categorias {
    list-style: none;
    padding: 0;
    display: none; 
  }
  
  .categorias:hover .menu-categorias {
    display: block;
    font-size: 25px; 
  }
  
  
  .navegacion__enlace-categoria {
    text-decoration: none;
    color: #fff;
  }
  
  
  .carrito {
    margin-left: auto;
    font-weight: bold;
    font-size: 20px;
  }
  
  
  a {
    text-decoration: none;
    color: #fff;
  }
  
  a:hover {
    text-decoration: underline;
  }
  